<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/login.css" />
	<title>Sign in & Sign up Form</title>
</head>

<body>

  
  <nav>
    <a href="/" class="signup">Home</a>
    <a href="/courses" class="signup">Courses</a>
    <a href="/contact" class="signup">Contact-Us</a>
    <a href="/about" class="signup">About-Us</a>
    <a href="/signup" class="signup">Sign Up</a>
    <!-- <a href="/login" class="login">Log In</a> -->
  </nav>

	<div class="container">
		<div class="forms-container">
			<div class="signin-signup">
				<form action="/login" method="post" class="sign-in-form">
					<h2 style="color: rgb(71, 71, 240);"><%= message  %></h2>
					<h2 class="title">Sign in</h2>
					
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input name="username" type="text" placeholder="Username" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input name="password" type="password" placeholder="Password" />
					</div>
					<input type="submit" value="Login" class="btn solid" />
					<p class="social-text">Or Sign in with social platforms</p>
					<div class="social-media">
						<a href="#" class="social-icon">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-google"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
				</form>
				<form action="/register" method="post" class="sign-up-form">
					<h2 class="title">Sign up</h2>
					<div class="input-field">
						<i class="fas fa-user"></i>
						<input name="username" type="text" placeholder="Username" />
					</div>
					<div class="input-field">
						<i class="fas fa-envelope"></i>
						<input name="email" type="email" placeholder="Email" />
					</div>
          <div class="input-field">
						<i class="fas fa-envelope"></i>
						<input name="fullname" type="username" placeholder="fullname" />
					</div>
					<div class="input-field">
						<i class="fas fa-lock"></i>
						<input name="password" type="password" placeholder="Password" />
					</div>
					<input type="submit" class="btn" value="Sign up" />
					<p class="social-text">Or Sign up with social platforms</p>
					<div class="social-media">
						<a href="#" class="social-icon">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-google"></i>
						</a>
						<a href="#" class="social-icon">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</div>
				</form>
			</div>
		</div>

		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h3>New here ?</h3>
					<p>
            If you're new here, sign up  to start your learning journey.
					</p>
					<button class="btn transparent" id="sign-up-btn">
						Sign up
					</button>
				</div>
				<img  src="https://i.ibb.co/6HXL6q1/Privacy-policy-rafiki.png" class="image" alt="" />
			</div>
			<div class="panel right-panel">
				<div class="content">
					<h3>One of us ?</h3>
					<p>
						If you're already registered, sign in to continue your learning journey.
					</p>
					<button class="btn transparent" id="sign-in-btn">
						Sign in
					</button>
				</div>
				<img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png"  class="image" alt="" />
			</div>
		</div>
	</div>

	<script src="/javascripts/login.js"></script>
</body>

</html>