<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>Profile Card UI Design</title>-->

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/profile.css" />

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <div class="profile-card">
      <div class="image">
       <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxivAs4UknzmDfLBXGMxQkayiZDhR2ftB4jcIV7LEnIEStiUyMygioZnbLXCAND-I_xWQpVp0jv-dv9NVNbuKn4sNpXYtLIJk2-IOdWQNpC2Ldapnljifu0pnQqAWU848Ja4lT9ugQex-nwECEh3a96GXwiRXlnGEE6FFF_tKm66IGe3fzmLaVIoNL/s1600/img_avatar.png" alt="" class="profile-img" />
      </div>

      <div class="text-data">
        <span class="name"><%= user.username %></span>
        <span class="job"><%= user.areaOfInterest %>
</span>
<span class="job"><%= user.skills %>
</span>
      </div>

      <div class="media-buttons">
        <a href="#" style="background: #4267b2" class="link">
          <i class="bx bxl-facebook"></i>
        </a>
        <a href="#" style="background: #1da1f2" class="link">
          <i class="bx bxl-twitter"></i>
        </a>
        <a href="#" style="background: #e1306c" class="link">
          <i class="bx bxl-instagram"></i>
        </a>
        <a href="#" style="background: #ff0000" class="link">
          <i class="bx bxl-youtube"></i>
        </a>
      </div>

      <div class="buttons">
        <a href="/logout"><button class="button">Logout</button></a>
        <a href="/courses"><button class="button">Courses</button></a>
        <a href="/editProfile"><button class="button">Edit</button></a>
      </div>

      <div class="analytics">
        <div class="data">
          <i class="bx bx-heart"></i>
          <span class="number"></span>
        </div>
        <div class="data">
          <i class="bx bx-message-rounded"></i>
          <span class="number">20k</span>
        </div>
        <div class="data">
          <i class="bx bx-share"></i>
          <span class="number">12k</span>
        </div>
      </div>
    </div>

    <script>
      // Assume you have a function to make an Ajax request (e.g., using fetch or jQuery.ajax)
function updateProfileData(skills, areaOfInterest) {
  // Update the UI immediately
  document.getElementById('userSkills').innerText = skills;
  document.getElementById('areaOfInterest').innerText = areaOfInterest;

  // Make an Ajax request to update the server
  fetch('/updateProfileData', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ skills, areaOfInterest }),
  })
    .then(response => response.json())
    .then(data => {
      // Optionally handle the server response (e.g., show a success message)
      console.log(data);
    })
    .catch(error => {
      console.error('Error updating profile data:', error);
    });
}

// Assume you have a function to handle form submission
function submitForm(event) {
  event.preventDefault();

  const skills = document.getElementById('skills').value;
  const areaOfInterest = document.getElementById('areasOfInterest').value;

  // Call the function to update the profile data
  updateProfileData(skills, areaOfInterest);
}

    </script>
  </body>
</html>

