body {
    font-family: "lato";
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  @media only screen and (max-width: 600px) {
    nav a {
      display: block;
      text-align: center;
      padding: 10px 0;
    }
  } 
  header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  nav {
    background-color: #dadada;
    padding: 16px;
    text-align: center;
  }

  
  nav a:hover {
    color: #007bff;
  }

  nav a.signup, nav a.login {
    /* background-color: #007bff; */
    text-decoration: none;
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size:medium;
    margin: 7px;
   
  }

  nav a.signup:hover, nav a.login:hover {
    background-color: #0056b3;
  }

  
  nav a {
    color: #443535;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 15px;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    overflow: auto;
  }
  
  .course {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #d8c0c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    opacity: 24;
    color: black;
  }
  
  img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #057ef8;
  }
  
  p {
    color: #555555;
    font-size: large;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #dadada;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
  }
  